.artist-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.header-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
}

.artist-info {
  text-align: left; /* Alinea el texto a la izquierda */
  position: absolute;
  margin-bottom: 30px;
  left: 20px;
  color: white;
}

.artist-info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.name-artist {
  font-size: 48px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
  margin: 0;
}

.verified {
  font-size: 24px;
  margin: 0;
}

.monthly-listeners {
  font-size: 18px;
  margin: 0;
}
